* {
    margin: 0;
}

body {
    background-color: #f5f5c6;
}

h2 {
    margin-top: 15px;
    text-align: center;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: 400;
}

.slide-container {
    position: relative;
    width: 50%;
    margin: 3% auto;
    text-align: center;
}

.slide-img {
    width: 100%;
    display: none;
}

.active {
    display: inline-block;
}

.slide-button {
    width: 15px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
}

.slide-button:hover {
    cursor: pointer;
    color: #27253d;
    background-color: #eae7e77c;
}

.slide-left {
    left: 0;
    color:#f5f5c6;
    padding: 2%;
}

.slide-right {
    right: 0;
    color: #f5f5c6;
    padding: 2%;
}

.vertical-center {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.slide-indi {
    display: inline-block;
    position: relative;
    top: -30px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
}

.slide-indi:hover {
    cursor: pointer;
}

.indi-active {
    background: #326765;
}